$color-principal: #868d93;
$color-principal-transparente: #868d93b6;
$color-secundario: #fbbea4;
$color-fondo: #fcfcfc;
$color-aux: #b1a9a1;

$font-size-h1: 50px;
$font-family-body: "Lato", sans-serif;
$font-family-separador: "Glass Antiqua", cursive;
