@import "../variables/variables";

body {
  font-family: $font-family-body;
  // margin: 0 100px;
  background-color: $color-fondo;
  position: relative;
}

h1 {
  color: $color-principal;
  font-size: $font-size-h1;
  font-weight: 700;
  text-align: center;
  padding: 50px auto;
}

h2 {
  color: $color-principal;
  font-size: ($font-size-h1/2)+7;
  text-align: center;
  margin-bottom: 30px;
}

h3 {
  color: $color-principal;
  font-size: ($font-size-h1/2)-5;
  text-align: center;
  margin-bottom: 90px;
}

/* ==============================NAVEGADOR======================== */

.nav a {
  transition: all 0.1s;
}

.nav a:hover {
  color: $color-secundario;
  border-bottom: solid 1px $color-secundario;
}

.nav-gris {
  background-color: $color-principal;
}

/* ====LOGO==== */

.logo-main {
  width: 125px;
  height: 125px;
  position: absolute;
  left: 30px;
  top: 5px;
}

@media screen and (max-width: 1000px) {
  .logo-main {
    width: 65px;
    height: 65px;
    left: 45vw;
    top: 15px;
  }
}
/* ==============================FOOTER======================== */

.footer__div-titulo {
  font-size: 28px;
  font-weight: 700;
  color: $color-secundario;
  text-align: center;
  margin-bottom: 30px;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 15px;
  }
}

.footer-img {
  width: 80px;
  height: 80px;
  padding: 15px;
}

/* ==============================WHATSAPP======================== */
.whatsapp-floating {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 1000px) {
  .whatsapp-floating {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
  }
}
