@import "../variables/variables";

.historia {
  &__imagen {
    margin-bottom: 70px;
  }

  &__texto {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: $color-aux;
  }
}
