/* ===========================PEDIDO========================= */

.main-pedido {
  background-image: url(../public/img/card1.jpg);
  background-color: black;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  h1 {
    text-shadow: 1px 1px rgb(88, 88, 88);
  }
}
